/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
}

header,
section {
}

header {
  padding: 1rem;
  background-color: white;
  border-bottom: 2px solid #f2f2f2;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 100px;
}

.search input[type="search"] {
  width: 400px;
  padding: 0.5rem;
  border-radius: 2px;
  border: 1px solid #ccc;
}

.button {
  padding: 0.25rem 1.5rem;
  border: 1px solid #2c5fd5;
  border-radius: 2px;
  color: #2c5fd5;
  font-weight: bold;
  text-decoration: none;
}

main {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-areas:
    "video-player video-player"
    "video-info video-info"
    "actions actions"
    "channel subscribe"
    "up-next up-next";
}

.video-player {
  grid-area: video-player;
  position: relative;
  padding: 1rem 0 56.25% 1rem;
  height: 0;
  overflow: hidden;
  text-align: center;
}

.video-player iframe,
.video-player object,
.video-player embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-info {
  background-color: #e91e63;
  grid-area: video-info;
}

.actions {
  background-color: #03a9f4;
  grid-area: actions;
}

.channel {
  background-color: #673ab7;
  grid-area: channel;
}

.subscribe {
  background-color: #8bc34a;
  grid-area: subscribe;
}

.ad {
  background-color: #ff5722;
  grid-area: ad;
}

.up-next {
  background-color: #3f51b5;
  grid-area: up-next;
}

@media screen and (max-width: 700px) {
  .search,
  .ad {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  header {
    grid-template-columns: auto auto auto;
  }

  main {
    max-width: 1200px;
    grid-template-areas:
      "video-player video-player ad"
      "video-player video-player up-next"
      "video-info actions up-next"
      "channel subscribe up-next";
  }
}
