/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: "#444";
}

.logo img {
  width: 211px;
}

.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-in button {
  border: none;
}

.sign-in button:hover {
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 180px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

header {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

section {
  padding: 3rem 0 4rem 0;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
}

h1.title {
  margin-bottom: 2rem;
  text-align: center;
  font-weight: bold;
  color: #444;
}

.gray {
  background-color: #f7f7f7;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 1rem;
}

.hero {
  width: 60%;
  margin: auto;
}

.intro p {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 100;
}

.button {
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.primary {
  background-color: #3789bf;
  color: white;
}

.secondary {
  background-color: white;
  color: #444;
}

.intro .cta {
  margin: 2rem 0;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  height: 150px;
  width: 18%;

  border-radius: 10px;
  color: white;
  font-size: 1.7rem;
}

.card.red {
  background-color: #ec454e;
}

.card.blue {
  background-color: #42b0f8;
}

.card.purple {
  background-color: #9e69d5;
}

.card.yellow {
  background-color: #f4a823;
}

.card.green {
  background-color: #3cbfa1;
}

.members {
  display: flex;
  justify-content: space-between;
}

.member img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

footer {
  background-color: #3789bf;
}

footer ul {
  display: flex;
  padding-top: 3rem;
  list-style-type: none;
  justify-content: space-evenly;
}

footer a {
  color: white;
  text-decoration: none;
}

footer p.copyright {
  padding: 3rem 0;
  color: #ffffffdd;
  text-align: center;
}
